# NoteBook : Convert State to GCode

In [7]:
from geopy.geocoders import Nominatim
import pandas as pd

In [8]:
geolocator = Nominatim(timeout=10, user_agent = "myGeolocator")

In [9]:
df = pd.read_excel('Result1.xlsx')

In [10]:
df['gcode'] = df.State.apply(geolocator.geocode)
df['lat'] = [g.latitude for g in df.gcode]
df['long'] = [g.longitude for g in df.gcode]
df.head()

,gender,parental level of education,lunch,test preparation course,math score,reading score,writing score,State,gcode,lat,long
0,female,bachelor's degree,standard,none,NaN,72.0,74.0,California,"(California, United States, (36.7014631, -118....",36.701463,-118.755997
1,female,some college,standard,completed,69.0,90.0,88.0,Texas,"(Texas, United States, (31.2638905, -98.5456116))",31.263890,-98.545612
2,female,master's degree,standard,none,90.0,95.0,93.0,California,"(California, United States, (36.7014631, -118....",36.701463,-118.755997
3,male,associate's degree,free/reduced,none,47.0,57.0,44.0,Minnesota,"(Minnesota, United States, (45.9896587, -94.61...",45.989659,-94.611329
4,male,some college,standard,none,76.0,78.0,75.0,Texas,"(Texas, United States, (31.2638905, -98.5456116))",31.263890,-98.545612

### Exportation

In [11]:
df.to_excel('PEtudiant.xlsx')